language: node_js
node_js:
 - "stable"
cache:
  direcotories:
  - "node_modules"
before_install: cd ./server
script: npm test
after_success: npm run coverage
env: 
  global:
    - CODECLIMATE_REPO_TOKEN=6f55fa92d5e3e5e0a2cb83e4ba74f6f0704770a5c8d4ac9c07b0ea310077be2a